/* Общие стили */
body {
    margin: 0;
    background-color: black;
    color: white;
    font-family: Arial, sans-serif;
    text-align: center;
    overflow: hidden;
}

/* Контейнер приложения */
#app-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100vh;
}

/* Экраны */
.screen {
    flex: 1;
    display: none;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

/* Отображаем главный экран по умолчанию */
#main-screen {
    display: flex;
}

/* Секундомер */
#stopwatch {
    font-size: 3em;
    margin-bottom: 20px;
}

/* Кнопки */
.green-button {
    background-color: green;
    color: white;
    border: none;
    padding: 15px 30px;
    font-size: 1.5em;
    cursor: pointer;
    border-radius: 5px;
}

.green-button:disabled {
    background-color: gray;
    cursor: default;
}

.nav-button {
    background: none;
    border: none;
    color: white;
    padding: 15px;
    cursor: pointer;
    font-size: 1em;
    flex: 1;
}

.nav-button.active {
    text-decoration: underline;
}

/* Навигационная панель */
#navigation {
    display: flex;
    background-color: black;
    position: fixed;
    bottom: 0;
    width: 100%;
}